html {
	background: #cceeff;
	padding: 30px;
}

body {
	background: #ffffff;
	width: 80%;
	margin: auto;
	padding: 30px;
}

p {
	font-size: 1em;
	font-family: Times New Roman,serif;
	line-height: 1.5em;
	color: #4e4e4e;
	text-align: justify
}

h1, h2, h3, {
	font-family: Times New Roman,serif;
	color: #4e4e4e;
}

